@tailwind base;
@tailwind components;
@tailwind utilities;

/* body bg color #191f30
 headers and btns #fbd214
 cotainer bg #fbf8ef

 text on container color #022144
 text on body bg color #9da1a8 */

body {
  color: #fff;
  background-color: #101630;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
body {
  /*   background-image: url('/src/assets/bg.png'); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.1);
} */
