@tailwind base;
@tailwind components;
@tailwind utilities;

/* body bg color #191f30
 headers and btns #fbd214
 cotainer bg #fbf8ef

 text on container color #022144
 text on body bg color #9da1a8 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

body {
  color: #fff;
  background-color: #191f30;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2rem;
}
.mainBlock {
  background-image: linear-gradient(
    340deg,
    hsl(224deg 32% 14%) 0%,
    hsl(211deg 38% 25%) 9%,
    hsl(202deg 46% 34%) 18%,
    hsl(195deg 53% 42%) 27%,
    hsl(191deg 58% 47%) 36%,
    hsl(192deg 65% 47%) 45%,
    hsl(192deg 73% 47%) 55%,
    hsl(191deg 85% 46%) 64%,
    hsl(196deg 68% 44%) 73%,
    hsl(203deg 51% 37%) 82%,
    hsl(212deg 39% 26%) 91%,
    hsl(224deg 32% 14%) 100%
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
